# 移动平均线理论
捕捉趋势最普遍的方法是“移动平均线”，根据求平均的方式不同，可以分为：

## 1. 简单移动平均 SMA

 SMA，将一组股价相加，再除以股价的个数。
 例如，求5日的平均数，先day1到day5的价格之和后，除以5.得到第5天的简单平均数。第6天的简单平均数以此类推。

$$
SMA_{t=5} = \frac{p1 + p2 + p3 + p4 + p5}{5}
$$

所以，SMA中期数的选择，从以下几方面考虑：
1. 事件发展的周期性；
2. 对趋势平均性的要求；
3. 对趋势反映近期变化敏感程度的要求。

## 2. 加权移动平均数 WMA

WMA，是在SMA的基础上对每个平均价值增加权重。在预测股价时，不同时期的股价数据具有不同的代表性。为了表示其代表性，在SMA基础上赋予一定的权重。

例如，5日加权移动平均值

$$
\begin{aligned}
& WMA_{t=5} = w_{1}p_{1} + w_{2}p_{2} + w_{3}p_{3} + w_{4}p_{4} + w_{5}p_{5} \\

& w_{1} , w_{5} 为股价数据的权重，之和等于1.\\
\end{aligned}
$$

通过对数据加权，将当前时间离的越近的数据越具有代表性，越远的数据代表性越低。

## 3. 指数加权移动平均数EWMA(或EXPMA)

指数加权平均数EWMA 是一种特别的加权移动平均。
$$
\begin{aligned}
& p_{t} 表示股票第t期的价格，从第k期开始计算股价的加权移动平均数。\\
& \alpha 和 1 - \alpha 表示权重 \\
& EWMA_{t=k} = \frac{p1 + p2 + ... + pk}{k} \\
& EWMA_{t=k+1} = p_{k+1} * \alpha + EWMA_{t=k} * (1 -\alpha)\\
& EWMA_{t=k+2} = p_{k+2} * \alpha + EWMA_{t=k+1} * (1 - \alpha)\\
& ......\\
& \\
& 最终推导，当 t 大于等于 k + 1时，\\
& EWMA_{t} = \alpha * [p_{t} + p_{t-1} * (1 - \alpha ) + ... + p_{k+1}(1-\alpha)^(t-k-1) ] \\
&      + EWMA_{t=k} * (1 - \alpha )^(t-k)

\end{aligned}
$$

# 双均线交易策略
## 策略规则

双均线交易策略，是利用长短期均线的相对关系来判断未来趋势。策略制定过程：

1. 计算短期均线 和 长期均线
2. 当短期均线从下向上穿过长期均线时，释放出买入信号；
3. 当长期均线从上向下穿过短期均线时，释放出卖出信号。

在这里，使用MA5、MA20分别作为短期均线和长期均线。

In [1]:
import sys
sys.path.append(r'/Users/paul/DSWorkspace/001量化策略/002-Project项目/lleasy')

# 1. 数据准备
from lleasy.database import SqliteDatabase as sqlitedb
from lleasy.object import TradeData, BarData
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

## 数据准备

In [2]:
# 获取数据
# 标的：510050
# 时间：2022-01-01 至 2023-01-01
# 频率：日行情
#获取sqlite链接
db = sqlitedb()

session = sqlitedb().getDBSession()
bars = session.query(BarData)\
        .where(BarData.symbol=='510050')\
        .where(BarData.datetime >= '2022-01-01')\
        .where(BarData.datetime <= '2023-01-01')\
        .all()

results = [bar.to_dict() for bar in bars]
results=pd.DataFrame(
    results,
    columns=['datetime','symbol','open','close','high','low']
)

results=results.set_index(['datetime'])
results

2023-08-01 16:19:12,023 DEBUG sqlalchemy.pool.impl.QueuePool Created new connection <sqlite3.Connection object at 0x12562d940>
2023-08-01 16:19:12,023 DEBUG sqlalchemy.pool.impl.QueuePool Connection <sqlite3.Connection object at 0x12562d940> checked out from pool
2023-08-01 16:19:12,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-08-01 16:19:12,028 INFO sqlalchemy.engine.Engine SELECT llbardata.id AS llbardata_id, llbardata.symbol AS llbardata_symbol, llbardata.interval AS llbardata_interval, llbardata.open AS llbardata_open, llbardata.close AS llbardata_close, llbardata.high AS llbardata_high, llbardata.low AS llbardata_low, llbardata.vol AS llbardata_vol, llbardata.turnover AS llbardata_turnover, llbardata.asset AS llbardata_asset, llbardata.adjust AS llbardata_adjust, llbardata.datetime AS llbardata_datetime
FROM llbardata
WHERE llbardata.symbol = ? AND llbardata.datetime >= ? AND llbardata.datetime <= ?
2023-08-01 16:19:12,028 INFO sqlalchemy.engine.Engine [generated in 0.00083s] [SQL parameters hidden due to hide_parameters=True]

            symbol   open  close   high    low
datetime
2022-01-04  510050  3.270  3.247  3.270  3.205
2022-01-05  510050  3.242  3.241  3.277  3.226
2022-01-06  510050  3.229  3.193  3.238  3.180
2022-01-07  510050  3.199  3.207  3.223  3.199
2022-01-10  510050  3.208  3.216  3.223  3.185
...            ...    ...    ...    ...    ...
2022-12-26  510050  2.623  2.612  2.633  2.608
2022-12-27  510050  2.639  2.642  2.650  2.626
2022-12-28  510050  2.638  2.649  2.656  2.629
2022-12-29  510050  2.634  2.635  2.639  2.613
2022-12-30  510050  2.646  2.649  2.660  2.643

[242 rows x 5 columns]


## 编制策略
## 执行策略
## 策略回归

# 总结